.nav-link {
  color: red;
  font-weight: bold;
  font-family: monospace;
  transition: transform 0.3s;
}

.navbar-nav .nav-link.active {
  color: rgb(255, 149, 0);
}


.navbar-brand img {
  width: 80px;
}

.navbar-toggler {
  background-color: white;
}

.nav-link:hover {
  color: rgb(77, 255, 0);
  transform: scale(1.2);
}

body {
  background-image: url(https://img3.akspic.ru/crops/4/3/6/3/3/133634/133634-velosiped-gonochnyj-off_roud-motocikl_stantrajdinga-fristajl_motokross-1920x1080.jpg);
  background-repeat: no-repeat;
	background-size: cover;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  margin-left: auto;
}

.custom-navbar {
  background-color: black;
  color: rgb(255, 255, 255);
  /* настройка цвета текста */
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-brand-right {
  margin-left: auto;
}

.navbar-brand-right img {
  width: 100px;
  /* задайте нужную ширину */
  height: auto;
  /* автоматическое определение высоты */
}

.navbar-brand-right span {
  font-size: 18px;
  color: #ffffff;
  margin-right: 1250px;
  font-weight: bold;
  font-family: monospace;


}

.navbar {
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(5px);
}

.navbar-brand-right {
  margin-left: auto;
}

.text-contener {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px;
  /* задайте нужное значение */

}

.text-contener p {
  text-align: center;
  filter: drop-shadow(10px 7px 10px rgb(60, 250, 60));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #000000;

  display: grid;
  place-items: center;
}

.container img {
  width: 30%;
  height: 100%;
  object-fit: cover;

  -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);

  transform-origin: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
}

.container a {
  max-width: 2000px;
  max-height: 1000px;
  margin-top: 300px;


}

.container:hover img {
  opacity: 0.3;
}

.container img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}

.card {
  margin-top: 250px;
}



body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

h1 {
  color: rgb(165, 141, 141);
  text-align: center;
  margin-top: 20px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 130px;
  width: 500px;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 3px solid #ff862a;
  background-color: rgb(179, 176, 176);

}

form textarea {
  height: 500px;
  background-color: rgb(179, 176, 176);
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #ff8400;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #b10c0c;
}

#reviewContainer {
  margin-top: 20px;
  width: 650px;
}

.comment {
  background-color: rgb(207, 105, 2);
  /* Цвет фона */
  padding: 20px;
  border-radius: 10px;
  /* Округление углов */

  margin-bottom: 20px;
  /* Отступ между отзывами */
  text-align: center;
  box-shadow: inset 0 0 60px rgb(255, 140, 8);
  /* Выравнивание текста по правому краю */
}

.comment button {
  margin-top: 10px;
  background-color: #47d40fb0;
  color: white;
  border: 2px solid #036c28;
}

#reviewContainer {
  overflow-y: scroll;
  white-space: nowrap;
  position: absolute;
  right: 175px;
  /* Смещение контейнера вправо */
  color: white;
  height: 725px;
  width: 700px;
  padding: 20px;
  margin-top: 200px;
  border-radius: 10px;
  background-color: rgba(249, 116, 0, 0.5);
  text-align: right;
  /* Выравнивание текста по правому краю внутри контейнера */
  z-index: 1;
}

h1 {
  color: #545454;
  padding-right: 140px;
  filter: drop-shadow(10px 7px 10px rgb(64, 211, 179));
}

.contfoot {
  position: fixed;
  /* Фиксированное позиционирование */
  bottom: 0;
  /* Прижимаем к нижней части страницы */
  left: 0;
  /* Выравнивание по левому краю */
  width: 100%;
  /* Ширина 100% */
  height: 40px;
  /* Высота 100px */
  background-color: rgba(0, 0, 0, 0.8);
  /* Полупрозрачный цвет фона */
  color: white;
  /* Выравнивание текста по центру */
  z-index: 1;
  /* Устанавливаем панель поверх других элементов */
  display: flex;
}

form#reviewForm {
  position: absolute;
  right: 1175px;
  background-color: rgba(0, 0, 0, 0.5)
}

.container img {
  margin-top: 200px;
}

.text-contener {
  margin-top: 200px;
}


.card1 img {
  width: 320px;
  object-fit: none;

}

.card-img-top {
  width: auto;
  ;
  height: 500px;

}








body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}



.background-texture {
  background: -webkit-gradient(linear,
      left bottom,
      left top,
      from(#0f0140e6),
      to(rgba(255, 214, 117, 0.9)));
  background: linear-gradient(to top, #0f0140e6, rgba(255, 214, 117, 0.9));
  background-size: cover;
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.carousel {
  width: 100%;
  padding: 30px;
  padding-top: 80px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
  display: inline-block;
}

.categories__title {
  color: rgb(77, 55, 102);
  font-size: 28px;
  position: absolute;
  padding-left: 30px;
}

.carousel-item {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background-color: #95bcd6;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 70px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 1000ms all;
  transition: 1000ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover~.carousel-item {
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item__details {
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-item__details:hover {
  opacity: 1;
}

.carousel-item__details span {
  /* width: 10px;
  height: 10px; */
  font-size: 0.9rem;
  color: #2ecc71;
  /* background-color: white; */
}

.carousel-item__details .controls {
  padding-top: 180px;
}

.carousel-item__details .carousel-item__details--title,
.carousel-item__details--subtitle {
  color: #fff;
  margin: 5px 0;
}

h3 {
  color: white;
  font-size: 35px;
  text-align: center;
  filter: drop-shadow(10px 7px 10px rgb(60, 250, 60));
}

.alert alert-primary {
  color: white;
  font-size: 35px;
  text-align: center;
  filter: drop-shadow(10px 7px 10px rgb(60, 250, 60));
}

.alert-primary {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: rgba(43, 203, 43, 0.818);
  box-shadow: inset 0 0 10px black;
}

.nav-item a {
  color: #ff0a0a;
}


footer {
  width: 100%;
  height: 25px;
  background-color: rgb(255, 244, 244);
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #37373779;
  color: white;
  text-align: center;
  padding: -10px;
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

footer div p {
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 20s linear infinite;
}

.carousel {
  padding-left: 200px;
  padding-top: 250px;
}


a {
  text-decoration: none;
}

.contact-info {
  margin-top: 130px;
  margin-left: 380px;
  font-size: 24px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 440px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px;
}

.card2 {
	display: inline-block;
	border: 1px solid black;
	padding: 10px;
	margin-top: 100px;
	margin-left: 25px;
}
.cart_title2 {
	margin: 0;
	border-radius: 0px !important;
}




